html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Of Reset */

:root {
	--main-color: #f66868;
	--grey: #bdbdbd;
}

html {
	font-family: "Nunito", sans-serif;
	font-size: 16px;
	background: var(--grey);
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.app {
	min-height: 599px;
	width: 599px;
	background: white;
	position: relative;
}

.graybox {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1;
	min-height: 599px;
	width: 599px;
}

.add-todo-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 50px 40px 50px;
	z-index: 2;
	background: white;
	border-radius: 3px;
	box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.15);
	position: relative;
}

.add-todo-menu__h1 {
	position: relative;
	top: -6px;
}

.add-todo-menu__form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.add-todo-menu__remove-menu {
	width: 30px;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	transition: all 0.3s;
}

.add-todo-menu__remove-menu:hover {
	transform: scale(1.1);
}

.add-todo-menu__text-area {
	width: 100%;
	height: 100px;
	padding: 12px 20px;
	margin: 20px 0px;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.14);
	font-size: 0.8em;
	border-radius: 4px;
	resize: none;
	outline: none;
}

.add-todo-menu__text-area::placeholder {
	color: var(--grey);
}

.header {
	background: var(--main-color);
	height: 106px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__title {
	color: white;
	font-size: 3em;
}

.todo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 30px 50px;
}

.todo__todo_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.todo__done-marker--inactive {
	min-width: 24px;
	min-height: 24px;
	border: 1px var(--grey) solid;
	border-radius: 50%;
	margin-right: 20px;
	cursor: pointer;
	color: white;
}

.todo__done-marker--active {
	min-width: 24px;
	min-height: 24px;
	border: 1px var(--grey) solid;
	border-radius: 50%;
	margin-right: 20px;
	cursor: pointer;
	color: rgb(69, 153, 69);
	background: rgb(255, 255, 255);
}

.todo__h1--inactive {
	font-weight: 800;
	padding: 3px;
	cursor: text;
	text-decoration: none;
	cursor: pointer;
}

.todo__h1--active {
	font-weight: 800;
	padding: 3px;
	cursor: text;
	text-decoration: line-through;
	color: var(--grey);
	cursor: pointer;
}

.todo__timestamp {
	padding: 3px;
	font-weight: 300;
	font-size: 0.8em;
	color: var(--grey);
	cursor: default;
}

.todo__remove-todo {
	min-width: 30px;
	cursor: pointer;
	transition: all 0.3s;
}

.todo__remove-todo:hover {
	transform: scale(1.1);
}

.add-input {
	display: flex;
	align-items: center;
	position: relative;
	bottom: 20px;
	margin-top: 50px;
	transition: all 0.5s;
}

.add-input__add-todo-svg {
	margin: 10px 10px 10px 70px;
	min-width: 50px;
	cursor: pointer;
	opacity: 0.5;
	transition: all 0.5s;
}

.add-input__add-todo-svg:hover {
	opacity: 0.6;
	transform: scale(1.1);
}

.add-input__add-todo-p {
	padding: 10px;
	cursor: pointer;
}

.button {
	padding: 13px 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #6be868;
	color: white;
	text-decoration: none;
	border: 1px solid #ffffff;
	box-sizing: border-box;
	border-radius: 3px;
	cursor: pointer;
	transition: all 0.3s;
}

.button:hover {
	background: #6dd86b;
}

@media (max-width: 599px) {
	html {
		display: block;
		background: white;
	}
	.app {
		width: 100%;
	}
	.graybox {
		width: 100%;
		height: 100vh;
	}
	.add-todo-menu__remove-menu {
		width: 20px;
		top: 4px;
		right: 5px;
	}
	.add-todo-menu {
		padding: 25px;
	}
	.add-todo-menu__h1 {
		position: relative;
		top: 0px;
	}
	.add-input {
		margin-top: 60px;
	}
}
